doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Create Product
        link(rel="stylesheet", href="/css/style.css")
    body 
        form.create__form(action="/create" method="POST")
            p.create__label(for="name") Name
            input.create__input(name="name",type="text")
            p.create__label(for="name") Image
            input.create__input(name="name",type="file")
            p.create__label(for="name") Price
            input.create__input(name="name",type="text")
            p.create__label(for="name") Description
            input.create__input(name="name",type="text")
            button.create__button(type="submit") SAVE NEW 
    

    