doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Products
        link(rel="stylesheet", href="/css/style.css")
    body 
        h1 Products
        each val in products
            p.products__info= `${val.name}`
            img.product__img(src=`${val.image}`)
            p.product__type  Price:
            p.products__info= `${val.price}`
            p.product__type  Desciption:
            p.products__info= `${val.description}`

